<!-- Mudar para a classe black com a condição do scroll
className={black ? 'black' : ''} -->
<header class="">
    <div class="header--logo">
        <a routerLink="/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Netflix_2015_logo.svg/2560px-Netflix_2015_logo.svg.png" alt="Netflix" />
        </a>
    </div>
    <div class="header--user">
        <a routerLink="/">
            <img src="https://i.pinimg.com/originals/0d/dc/ca/0ddccae723d85a703b798a5e682c23c1.png" alt="Netflix" />
        </a>
    </div>
</header>


<!-- <nav>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
    </ul>
</nav> -->