<div class="movieRow">
  <h2>{{ title }}</h2>

  <div class="movieRow--left" (click)="handleLeftArrow()">
    <p>
      <mat-icon
        aria-hidden="false"
        aria-label="Example chevron_left icon"
        fontIcon="chevron_left"
      ></mat-icon>
    </p>
  </div>

  <div class="movieRow--right" (click)="handleRightArrow()">
    <mat-icon
      aria-hidden="false"
      aria-label="Example chevron_right icon"
      fontIcon="chevron_right"
    ></mat-icon>
  </div>
  <div class="movieRow--listarea">
    <div
      class="movieRow--list"
      [ngStyle]="{
        'margin-left': scrollX + 'px',
        width: items.results.length * 150 + 'px'
      }"
    >
      <div *ngFor="let item of items.results" class="movieRow--item">
        <img src="https://image.tmdb.org/t/p/w300{{ item.poster_path }}" />
      </div>
    </div>
  </div>
</div>
